{% extends 'appfinalds/index.html' %}

{% block titulo %} Modulo Calidad - Logout {% endblock titulo %}

{% block header %} 
<header class="bg-dark py-2">
    <div class="container px-2">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-10 fw-bolder text-white mb-2">Gracias por usar nuestros servicios</h1>
                    <p class="lead text-white-50 mb-4">Si desea ingresar nuevamente, puede hacer click en el boton Ingresar, arriba a la izquierda</p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

