{% extends 'appfinalds/index.html' %}
{% load static %}

{% block titulo %} Pagina de Calidad | Asesores {% endblock titulo %}

{% block header %} 
<header class="bg-dark py-2">
    <div class="container px-2">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-10 fw-bolder text-white mb-2">Sobre mi...</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block accesosseccion %}
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-10 my-50">
        <div class="row gx-5">
            <div class="col-lg-15">
                <p>Soy Dario Sosa. Tengo 40 años y me encuentro en el mundo de IT, desde 2010.</p>
                <p>Trabajo en una compañia de seguros, en el sector de Telecomunicaciones. Y les puedo asegurar que el curso de Python, me abrio muchas puertas en la empresa donde trabajo. </p>
                <p>Pude conectar Python a traves de APIs en la solucion donde se gestionan las llamadas al contact center.</p>
                <p>Ahora estoy creando un proyecto que es una aplicacion para mandos medios, donde van a poder gestionar reportes, dashboards y todo lo relacionado a la herramienta que tenemos</p>
                <p>Pero esto no termina, arranque el curso de Desarrollo Web para mejorar la aplicacion, asi como tambien desarrollarme al 100% en las especialidades que tenemos en la empresa.</p>
                <p>Gracias por tomarse el tiempo, para leerme un poco!</p>
        </div>
    </div>
</section>
{% endblock accesosseccion %}