{% extends 'appfinalds/index.html' %}

{% block titulo %} Pagina de Calidad | Evaluaciones {% endblock titulo %}

{% block header %} 
<header class="bg-dark py-2">
    <div class="container px-2">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-10 fw-bolder mb-2" style="color: #d49100;">Panel de Evaluaciones</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block accesosseccion %}
<section class="bg-light py-1 border-bottom">
    <div class="container px-1 my-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Opciones para gestionar</h2>
            <p class="lead mb-0">Usted puede: Agregar evaluaciones o Buscar evaluaciones</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- Ir a Agregar asesores-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-6">
                        <div class="text-center mb-5">
                            <h2 class="fw-bolder">Agregar Evaluaciones</h2><p></p>
                        </div>
                        {% if request.user.is_superuser  %}
                            <div class="d-grid"><a class="btn btn-outline-primary" href="{% url 'agregar_evaluaciones' %}">Click para Ir</a></div>
                        {% else %}
                            <div class="d-grid"><a class="btn btn-outline-primary" href="">Debe ser admin para ingresar</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Ir a Buscar asesores-->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-6">
                        <div class="text-center mb-5">
                            <h2 class="fw-bolder">Buscar Evaluaciones</h2><p></p>
                        </div>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="{% url 'busqueda_evaluacion' %}">Click para Ir</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock accesosseccion %}